# Godot 4+ specific ignores
.godot/
/android/
craftpix-net-563568-free-wraith-tiny-style-2d-sprites/
craftpix-net-889507-free-vampires-locations-battle-background-pack/
assets/background
assets/player
addons/